<!-- 

<div class="container">
<h1>Please login to continue</h1>
<div class="login-form">
<form action="servlet1" method="post">

<div class="form-group">
<label style="font-weight: bolder;">Username</label>
<label>Username</label>
<input type="text" name="username" class="" placeholder="Enter Username">
</div>

<div class="form-group">
<label style="font-weight: bolder;" >Password</label>
<label>Password</label>
<input type="password" name="password" class="form-control" placeholder="Enter Password">
<a data-target="#forgetpasswordmodal" data-toggle="modal" class="link-forgotpwd">Forgot your password?</a>
</div>
<div style="text-align: center;" >
<button type="submit" class="btn login-btn" name="loginButton" value="Login" >Login</button>

</div>

</form>
</div>
</div> -->

<div class="container-fluid">
 <div class="row">
 
 <div class="col-sm-4"></div>
 <div class="col-sm-4">
 <form ng-submit="adddoctorsubmit()">
 <div class="form-group row">
      <label  class="col-lg-4 col-form-label">Doctor ID</label>
       <div class="col-lg-8">
        <input  type="text" required class="form-control"  id="addoctorname" placeholder="Doctor ID">
         </div>
    </div>
    
     <div class="form-group row" style="margin-top: -10px;">
      <label for="DoctorPhoneNumber" class="col-lg-4 col-form-label">Phone Number</label>
      <div class="col-lg-8">
        <input type="text" pattern="[0-9]{10}" class="form-control " required minlength="10" maxlength="10"  id="adphonenumber" placeholder="Phone Number">
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -10px;">
      <label  class="col-lg-4 col-form-label">City</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" required id="adcity" placeholder="Enter City">
      </div>
    </div>
    
     <div class="form-group row" style="margin-top: -10px;">
      <label for="DoctorPhoneNumber" class="col-lg-4 col-form-label">First Name</label>
      <div class="col-lg-8">
        <input type="text"  class="form-control" id="adfirstname" required  placeholder="Doctor First Name">
      </div>
    </div>
    
    
    <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">Last Name</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="adlastname" required id="ClinicAddress" placeholder="Doctor Last Name">
      </div>
    </div>
    
   
     <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">Doctor's Email</label>
      <div class="col-lg-8">
        <input type="email" class="form-control" id="addoctoremail" required id="ClinicEmail" placeholder="Doctor's Email">
      </div>
    </div>
      <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">Created By</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="adcreatedby" required id="Created By" placeholder="Created By">
      </div>
    </div>
 
     <div class="form-group row">
        <div class="col-sm-4"></div>
     <div class="col-sm-4">
   <button class="btn btn-primary"  type="submit" >Submit</button>
   </div>
    <div class="col-sm-4"></div>
   </div>
    
    </form>
    </div>
    <div class="col-sm-4"></div>
    </div>

</div>



