<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.min.css">

</head>
<body>
<div class="row"  >
<div class="col-lg-3" ></div>

<div class="col-lg-6" style="padding: 50px; background-color: white; box-shadow: 0px 0px 20px black; border-radius:5px;">
<div class="row" style="text-align: center;"  >
<h3>Contact Us</h3>
</div>
<hr style="" >


<div class="row" >
<div class="col-lg-6">Your Name</div>
<div class="col-lg-6"><input type="text" class="form-control" ng-model="contactusform.name" > </div>
</div>
<br>
<div class="row" >
<div class="col-lg-6">Your Email</div>
<div class="col-lg-6"><input type="text" class="form-control" ng-model="contactusform.email" > </div>
</div>
<br>
<div class="row" >
<div class="col-lg-6">Your Contact</div>
<div class="col-lg-6"><input type="text" class="form-control" ng-model="contactusform.contact" > </div>
</div>
<br>
<div class="row" >
<div class="col-lg-6">Your Query</div>
<div class="col-lg-6"><textarea type="text" class="form-control" ng-model="contactusform.query" ></textarea>
</div>
</div>

<br>
<div class="row" style="text-align: center;" >
<div class="col-lg-12"><button type="button" class="btn btn-primary" ng-click="contactussubmitclick(); " >Submit</button>
</div>
</div>

</div>


</div>

<div class="modal fade" id="contactusmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Submited</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <form action="Uploadfile" method="post" enctype="multipart/form-data" >
        <div class="modal-body">
        		
        		<label>Thanks for submitting your query.</label>
				
			
        </div>
        <div class="modal-footer">
         
          <a type="button" class="btn btn-danger" data-dismiss="modal" href="patientpresicriptionform.jsp">ok</a>
        </div>
        </form>
      </div>
      
    </div>
  </div>
 

</body>
</html>