

<div id="sendtobackend" >
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

<div class="container">

<div class="row" >


<div class="col-lg-3" > </div>

</div>

<div class="row" >

<div class="col-lg-2" ></div>
<div  class="col-md-12 col-sm-12  col-lg-8 " style="    border-radius: 10px;
    border: 2.5px solid rgba(0, 0, 0, 0.41);
    padding: 20px; box-shadow: 0px 0px 20px 1px;     background-color: ghostwhite;" >
<div style="text-align: center;">
<img alt="Alignwise" src="http://alignwisesmile.com/images/logo.png" width="60%" >
<br><br>
<label><b><h3 style="
    text-shadow: 2px 2px 18px grey;
">PATIENT PRESCRIPTION FORM </h3> </b> </label>
</div>
  <form id="form1" ng-submit="openfileuploadmodal(); ">
 	
<fieldset  ng-disabled="formdisable">
<div id="insideform1" >
  <div  style="background-color: #c0f9f9; padding: 20px;">
  	
  	<div style="text-align: right;" class="form-group row">
  		<div class="col-4" align="left"> <div ng-if="formdata.serialnumber">Case ID : {{formdata.serialnumber}}</div>  </div>
      <label for="Date" class="col-4 col-form-label">Date</label>
      <div class="col-4">
        <input type="date" name="date" value="{{formdata.date}}" ng-disabled="true" class="form-control" id="Date" >
      </div>
    </div> 
    
  <div style="margin-bottom: -20px;"><label><b>CLINIC INFORMATION</b> </label></div>
	<hr style="" >
    <div class="form-group row">
      <label for="DoctorName" ng-hide="supportuser" class="col-lg-4 col-form-label">Orthodontist's Name</label>
      <label for="DoctorName" ng-show="supportuser" class="col-lg-4 col-form-label">On Behalf of Doctor</label>
      <div class="col-lg-8">
        <input ng-hide="supportuser || adminuser"   disabled="disabled" type="text" pattern="[A-Za-z ]*" class="form-control " required="required" ng-model="formdata.DoctorName"   value="{{formdata.DoctorName}}" name="DoctorName" id="DoctorName" placeholder="Doctor Name">
        <input  ng-show="adminuser && !supportuser " type="text" pattern="[A-Za-z ]*" class="form-control " required="required" ng-model="formdata.DoctorName"   value="{{formdata.DoctorName}}" name="DoctorName" id="DoctorName" placeholder="Doctor Name">
		<select class="form-control" ng-show="supportuser" required="required" ng-model="formdata.DoctorName" ng-init="fetchdoctornames();" ><option value="" >-Select-</option> <option ng-repeat="names in DoctorNames" value="{{names}}">{{names}}</option> </select>      
      </div>
    </div>
    
     <div class="form-group row" style="margin-top: -10px;">
      <label for="DoctorPhoneNumber" class="col-lg-4 col-form-label">Phone Number</label>
      <div class="col-lg-8">
        <input type="text" pattern="[0-9]{10}" class="form-control " required="required" ng-model="formdata.DoctorPhoneNumber"   value="{{formdata.DoctorPhoneNumber}}" name="DoctorPhoneNumber" id="DoctorPhoneNumber" placeholder="Phone Number">
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">Treating Doctor</label>
      <div class="col-lg-8">
        <input type="text" class="form-control"  ng-model="formdata.treatingDoctor"  value="{{formdata.treatingDoctor}}" id="treatingDoctor" placeholder="Treating Doctor">
      </div>
    </div>
    
     <div class="form-group row" style="margin-top: -10px;">
      <label for="DoctorPhoneNumber" class="col-lg-4 col-form-label">Treating Doctor's Phone</label>
      <div class="col-lg-8">
        <input type="text" pattern="[0-9]{10}" class="form-control"  ng-model="formdata.treatingDoctorPhone"   value="{{formdata.treatingDoctorPhone}}" name="treatingDoctorPhone" id="treatingDoctorPhone" placeholder="Treating Doctor's Phone">
      </div>
    </div>
    
    
    <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">Clinic Address</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" required="required" ng-model="formdata.ClinicAddress"  value="{{formdata.ClinicAddress}}" id="ClinicAddress" placeholder="Clinic Address">
      </div>
    </div>
    
     <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">City</label>
      <div class="col-lg-8" ng-init="fetchcities()">
        <select  class="form-control" required="required" ng-model="formdata.City"   id="City" placeholder="Clinic Address"><option value="" >--Select--</option> <option ng-repeat="item in Cities" value="{{item.id}}">{{item.name}}</option> </select>
      </div>
    </div>
     <div class="form-group row" style="margin-top: -10px;">
      <label for="ClinicAddress" class="col-lg-4 col-form-label">Clinic Email</label>
      <div class="col-lg-8">
        <input type="email" class="form-control" required="required" ng-model="formdata.ClinicEmail"  value="{{formdata.ClinicEmail}}" id="ClinicEmail" placeholder="Clinic Email">
      </div>
    </div>
    
    
    
    <div style="margin-bottom: -20px;"><label><b>PATIENT INFORMATION</b> </label></div>
	<hr style="" >
    <div class="form-group row" style="margin-top: -10px;">
      <label for="PatientName" class="col-lg-4 col-form-label">Patient Name</label>
      <div class="col-lg-8">
        <input type="text" pattern="[A-Za-z ]*"  class="form-control"  required="required" ng-model="formdata.PatientName" value="{{formdata.PatientName}}" id="PatientName" placeholder="Patient Name">
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -10px;">
      <label for="Gender" class="col-lg-4 col-form-label" style="margin-top: -7px;">Gender</label>
      <div class="col-lg-8">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Gender"   name="Gender" id="Gender" value="Male"  ng-checked="formdata.Gender=='Male'">
            Male &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label" >
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Gender"  name="Gender" id="Gender" value="Female" ng-checked="formdata.Gender=='Female'" >
            Female
          </label>
        </div>

      </div>
    </div>
    
    
    <div class="form-group row" style="margin-top: -20px;">
      <label for="DOB" class="col-lg-4 col-form-label">Date Of Birth</label>
      <div class="col-lg-8">
        <input  type="date" onkeydown="return false"  class="form-control" min="1950-01-01" required="required" ng-model="formdata.DOB"   ng-blur="calculateage();" max="{{formdata.date}}" id="DOB" value="{{formdata.DOB}}" >
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -10px;">
      <label for="Age" class="col-lg-4 col-form-label">Age</label>
      <div class="col-lg-8">
        <input type="text" ng-disabled="true" required="required" ng-model="formdata.Age"  value="{{formdata.Age}}" class="form-control" id="Age" placeholder="Age">
      </div>
    </div>
    

  <div style="margin-bottom: -20px;"><label><b>CLINICAL DATA</b> </label></div>
	<hr style=""  >
	
	<div class="form-group row" >
      <label for="ChiefComplaint" class="col-lg-4 col-form-label">Patient Category</label>
      <div class="col-lg-8">
        <select class="form-control" ng-model="formdata.patientCategoryCode" >
        <option value="0" >Study Cases</option>
        <option value="1" >Commercial Cases</option>
        <option value="2" >Outsourced jobs</option>
        </select>
      </div>
    </div>
	
    <div class="form-group row" >
      <label for="ChiefComplaint" class="col-lg-4 col-form-label">Chief Complaint</label>
      <div class="col-lg-8">
        <textarea class="form-control" id="ChiefComplaint"  required="required" ng-model="formdata.ChiefComplaint"  placeholder="ChiefComplaint">{{formdata.ChiefComplaint}}</textarea>
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -10px;">
      <label  class="col-lg-6 col-form-label">Clinical Examination :</label>
      
    </div>
    <div class="form-group row" style="margin-top: -20px;">
      <label  class="col-lg-6 col-form-label">&nbsp &nbsp 1. Intra-Arch</label>
      
    </div>
    
    
    
    <div id="Intra-Arch" class="row" style="margin-top: -10px;">
    <div class=" col-lg-6">
    <div style=" padding: 2px;  border:thin solid;  ">
    <div style="text-align: center; border-bottom:thin solid;  "  >Upper</div>
    <br>
     <div class="form-group row" style="margin-top: -20px">
      <label for="Crowding" class="col-4 col-form-label">Crowding</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Crowding" ng-checked="formdata.Crowding=='Yes'" name="Crowding" id="Crowding" value="Yes" >
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Crowding" ng-checked="formdata.Crowding=='No'" name="Crowding" id="Crowding" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
    <div class="form-group row" style="margin-top: -20px">
      <label for="Spacing" class="col-4 col-form-label">Spacing</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Spacing" ng-checked="formdata.Spacing=='Yes'" name="Spacing" id="Spacing" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Spacing"  ng-checked="formdata.Spacing=='No'"  name="Spacing" id="Spacing" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
    
      <div class="form-group row" style="margin-top: -20px">
      <label for="Rotation" class="col-4 col-form-label">Rotation</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Rotation"  ng-checked="formdata.Rotation=='Yes'"  name="Rotation" id="Rotation" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Rotation" ng-checked="formdata.Rotation=='No'" name="Rotation" id="Rotation" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
    
      <div class="form-group row" style="margin-top: -20px">
      <label for="ArchForm" class="col-4 col-form-label">Arch Form</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;">
        <div class="form-check">
          
          <label class="form-check-label" style="font-size: small;" >
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.ArchForm"  ng-checked="formdata.ArchForm=='Narrow'" name="ArchForm" id="ArchForm" value="Narrow" >
            Narrow  
          </label>
          
          <label class="form-check-label" style="font-size: small;"  >
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.ArchForm" ng-checked="formdata.ArchForm=='Wide'" name="ArchForm" id="ArchForm" value="Wide" >
            Wide 
          </label>
          
          
          <label class="form-check-label" style="font-size: small;"  >
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.ArchForm"  ng-checked="formdata.ArchForm=='Normal'" name="ArchForm" id="ArchForm" value="Normal" >
            Normal  
          </label>
        
        
          
        </div>

      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px">
      <label for="MalformationOfTeeth" class="col-lg-4 col-form-label">Malformation of teeth</label>
      <div class="col-lg-8" style="text-align: center;">
        <input type="text" class="form-control"  value="{{formdata.MalformationOfTeeth}}" required="required" ng-model="formdata.MalformationOfTeeth" id="MalformationOfTeeth" placeholder="Malformation of teeth">
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px">
      <label for="ToothNumber" class="col-lg-4 col-form-label">Specify tooth No.</label>
      <div class="col-lg-8" style="text-align: center;">
        <input type="text" class="form-control"  value="{{formdata.ToothNumber}}" required="required" ng-model="formdata.ToothNumber" id="ToothNumber" placeholder="Specify tooth No.">
      </div>
    </div>
    
    
    
    </div>
     </div>
    
     <div class=" col-lg-6">
    <div style=" padding: 2px;  border:thin solid;  ">
    <div style="text-align: center; border-bottom:thin solid;  "  >Lower</div>
    <br>
     <div class="form-group row" style="margin-top: -20px">
      <label for="Crowding" class="col-4 col-form-label">Crowding</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LCrowding" ng-checked="formdata.LCrowding=='Yes'" name="LCrowding" id="LCrowding" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LCrowding" ng-checked="formdata.LCrowding=='No'" name="LCrowding" id="LCrowding" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
    <div class="form-group row" style="margin-top: -20px">
      <label for="Spacing" class="col-4 col-form-label">Spacing</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LSpacing" ng-checked="formdata.LSpacing=='Yes'" name="LSpacing" id="LSpacing" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LSpacing" ng-checked="formdata.LSpacing=='No'" name="LSpacing" id="LSpacing" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
    
      <div class="form-group row" style="margin-top: -20px">
      <label for="Rotation" class="col-4 col-form-label">Rotation</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"   required="required" ng-model="formdata.LRotation" ng-checked="formdata.LRotation=='Yes'" name="LRotation" id="LRotation" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LRotation"  ng-checked="formdata.LRotation=='No'" name="LRotation" id="LRotation" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
    
      <div class="form-group row" style="margin-top: -20px">
      <label for="ArchForm" class="col-4 col-form-label">Arch Form</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;">
        <div class="form-check">
          
          <label class="form-check-label" style="font-size: small;"  >
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LArchForm"  ng-checked="formdata.LArchForm=='Narrow'" name="LArchForm" id="LArchForm" value="Narrow" >
            Narrow   
          </label>
        	
          
           <label class="form-check-label" style="font-size: small;"  >
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LArchForm"  ng-checked="formdata.LArchForm=='Wide'" name="LArchForm" id="LArchForm" value="Wide" >
            Wide   
          </label>
          
          
          <label class="form-check-label" style="font-size: small;"  >
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.LArchForm"  ng-checked="formdata.LArchForm=='Normal'" name="LArchForm" id="LArchForm" value="Normal" >
            Normal   
          </label>
        	
        
         
        </div>

      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px">
      <label for="MalformationOfTeeth" class="col-lg-4 col-form-label">Malformation of teeth</label>
      <div class="col-lg-8" style="text-align: center;">
        <input type="text" class="form-control" value="{{formdata.LMalformationOfTeeth}}" required="required" ng-model="formdata.LMalformationOfTeeth" id="LMalformationOfTeeth" placeholder="Malformation of teeth">
      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px">
      <label for="ToothNumber" class="col-lg-4 col-form-label">Specify tooth No.</label>
      <div class="col-lg-8" style="text-align: center;">
        <input type="text" class="form-control" value="{{formdata.LToothNumber}}" required="required" ng-model="formdata.LToothNumber" id="LToothNumber" placeholder="Specify tooth No.">
      </div>
    </div>
    
    
    
    </div>
     </div>
    
   
    <!-- ngmodel
     --> 
    
    
    </div>
    
   <br>
    <div class="form-group row" style="margin-top: -20px">
      <label  class="col-lg-6 col-form-label">&nbsp &nbsp 2. Inter-Arch</label>
      
    </div>
    
    
    
    
    
    
    
    
    <div id="Inter-Arch" class="row" style="margin-top: -10px" >
    <div class=" col-lg-6">
    <div style=" padding: 2px;  border:thin solid;  ">
    <div style="text-align: center; border-bottom:thin solid;  "  >Right</div>
    <div class="row " >
    <div class="col-6" ></div>
    <div class="col-6" style="text-align: center;" > I  &nbsp&nbsp  II  &nbsp&nbsp III </div>
    </div>
     <div class="form-group row" >
      <label for="MolarRelation" class="col-6 col-form-label">Molar Relation</label>
      <div class="col-6" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.MolarRelation"  ng-checked="formdata.MolarRelation=='1'" name="MolarRelation" id="MolarRelation" value="1" checked>
            
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.MolarRelation" ng-checked="formdata.MolarRelation=='2'" name="MolarRelation" id="MolarRelation" value="2" >
            
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.MolarRelation" ng-checked="formdata.MolarRelation=='3'" name="MolarRelation" id="MolarRelation" value="3" >
            
          </label>
        </div>

      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px;">
      <label for="CaninRelation" class="col-6 col-form-label">Canine Relation</label>
      <div class="col-6" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.CaninRelation" ng-checked="formdata.CaninRelation=='1'" name="CaninRelation" id="CaninRelation" value="1" checked>
            
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.CaninRelation" ng-checked="formdata.CaninRelation=='2'" name="CaninRelation" id="CaninRelation" value="2" >
            
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.CaninRelation" ng-checked="formdata.CaninRelation=='3'" name="CaninRelation" id="CaninRelation" value="3" >
            
          </label>
        </div>

      </div>
    </div>
    
    <div class="form-group row"  style="margin-top: -20px;  margin-bottom: -10px;">
      <label for="CrossBite" class="col-6 col-form-label">Cross Bite</label>
      <div class="col-6" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" ng-model="formdata.CrossBite.Ant" ng-checked="formdata.CrossBite.Ant==true && formdata.CrossBite.No!=true" ng-disabled="formdata.CrossBite.No==true" name="CrossBite" id="CrossBite"  >
            Ant.
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"ng-model="formdata.CrossBite.Post" ng-checked="formdata.CrossBite.Post==true && formdata.CrossBite.No!=true" ng-disabled="formdata.CrossBite.No==true" name="CrossBite" id="CrossBite"  >
            Post.
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" ng-model="formdata.CrossBite.No" ng-checked="formdata.CrossBite.No==true" name="CrossBite" id="CrossBite"  >
            No
          </label>
        </div>

      </div>
    </div>
     
    
    
    
    </div>
     </div>
    
    <div class=" col-lg-6">
    <div style=" padding: 2px;  border:thin solid;  ">
    <div style="text-align: center; border-bottom:thin solid;  "  >Left</div>
    <div class="row " >
    <div class="col-6" ></div>
    <div class="col-6" style="text-align: center;" > I  &nbsp&nbsp  II  &nbsp&nbsp III </div>
    </div>
     <div class="form-group row" >
      <label for="LMolarRelation" class="col-6 col-form-label">Molar Relation</label>
      <div class="col-6" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.LMolarRelation" ng-checked="formdata.LMolarRelation=='1'" name="LMolarRelation" id="LMolarRelation" value="1" checked>
            
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.LMolarRelation" ng-checked="formdata.LMolarRelation=='2'" name="LMolarRelation" id="LMolarRelation" value="2" >
            
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.LMolarRelation" ng-checked="formdata.LMolarRelation=='3'" name="LMolarRelation" id="LMolarRelation" value="3" >
            
          </label>
        </div>

      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px;">
      <label for="LCaninRelation" class="col-6 col-form-label">Canine Relation</label>
      <div class="col-6" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.LCaninRelation" ng-checked="formdata.LCaninRelation=='1'" name="LCaninRelation" id="LCaninRelation" value="1" checked>
            
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.LCaninRelation" ng-checked="formdata.LCaninRelation=='2'" name="LCaninRelation" id="LCaninRelation" value="2" >
            
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.LCaninRelation" ng-checked="formdata.LCaninRelation=='3'" name="LCaninRelation" id="LCaninRelation" value="3" >
            
          </label>
        </div>

      </div>
    </div>
    
    <div class="form-group row" style="margin-top: -20px; margin-bottom: -10px;">
      <label for="LCrossBite" class="col-6 col-form-label">Cross Bite</label>
      <div class="col-6" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"   ng-model="formdata.LCrossBite.Ant" ng-checked="formdata.LCrossBite.Ant==true && formdata.LCrossBite.No!=true" ng-disabled="formdata.LCrossBite.No==true" name="CrossBite" id="CrossBite"  >
            Ant.
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"ng-model="formdata.LCrossBite.Post" ng-checked="formdata.LCrossBite.Post==true && formdata.LCrossBite.No!=true" ng-disabled="formdata.LCrossBite.No==true" name="CrossBite" id="CrossBite"  >
            Post.
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"  ng-model="formdata.LCrossBite.No" ng-checked="formdata.LCrossBite.No==true" name="CrossBite" id="CrossBite"  >
            No
          </label>
        </div>

      </div>
    </div>
     
    
    
    
    </div>
     </div>
     </div>
     
    <div class="row" style="padding-top: 10px;" >
     <div class="col-lg-6">
    <div style=" padding: 2px;  border:thin solid;  ">
    
    <div class="row " >
    <div class="col-6" > Incisor Relation</div>
    
    </div>
    <div style="padding-left: 50px;">
   <div class="form-group row">
      <label for="Proclined" class="col-4 col-form-label">i.&nbspProclined</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Proclined"  ng-checked="formdata.Proclined=='Yes'" name="Proclined" id="Proclined" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Proclined" ng-checked="formdata.Proclined=='No'" name="Proclined" id="Proclined" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
   
   <div class="form-group row" style="margin-top: -20px">
      <label for="Retroclined" class="col-4 col-form-label">ii.&nbspRetroclined</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Retroclined" ng-checked="formdata.Retroclined=='Yes'" name="Retroclined" id="Retroclined" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" required="required" ng-model="formdata.Retroclined" ng-checked="formdata.Retroclined=='No'" name="Retroclined" id="Retroclined" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
   
   <div class="form-group row" style="margin-top: -20px">
      <label for="Overjet" class="col-4 col-form-label">iii.&nbspOverjet</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Overjet" ng-checked="formdata.Overjet=='inc'" name="Overjet" id="Overjet" value="inc" checked>
            Inc. 
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Overjet"  ng-checked="formdata.Overjet=='dec'" name="Overjet" id="Overjet" value="dec" >
            Dec.
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Overjet" ng-checked="formdata.Overjet=='nor'" name="Overjet" id="Overjet" value="nor" >
            Nor.
          </label>
          
        </div>

      </div>
    </div>
   
   <div class="form-group row" style="margin-top: -20px">
      <label for="Overbite" class="col-4 col-form-label">iii.&nbspOverbite</label>
      <div class="col-8" style="padding-top: 6px; text-align: center;" >
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Overbite" ng-checked="formdata.Overbite=='inc'" name="Overbite" id="Overbite" value="inc" checked>
            Inc. 
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Overbite" ng-checked="formdata.Overbite=='dec'" name="Overbite" id="Overbite" value="dec" >
            Dec.
          </label>
          
          <label class="form-check-label">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Overbite" ng-checked="formdata.Overbite=='nor'" name="Overbite" id="Overbite" value="nor" >
            Nor.
          </label>
          
        </div>

      </div>
    </div>
     
    
    </div>
    
    
    <div class="form-group row">
      <label for="Midlines" class="col-4 col-form-label">Midlines</label>
      <div class="col-8" >
      <div class="row">
        <div class="col-6" >
        <div style="text-align: center;"><label >Upper</label></div>
        <div class="form-check" >
          <label class="form-check-label">
            <input class="form-check-input" type="radio" style="margin-top:7px;" required="required" ng-model="formdata.MidlinesUpper" ng-checked="formdata.MidlinesUpper=='Deviated'" name="MidlinesUpper" id="MidlinesUpper" value="Deviated" checked>
            <span style="font-size:small;" >Deviated</span>
          </label>
        </div>
        <div class="form-check" >
          <label class="form-check-label">
            <input class="form-check-input" type="radio" style="margin-top:7px;" required="required" ng-model="formdata.MidlinesUpper"  ng-checked="formdata.MidlinesUpper=='Normal'" name="MidlinesUpper" id="MidlinesUpper" value="Normal" checked>
            <span style="font-size:small;" >Normal</span>
          </label>
        </div>
        
        </div>
        <div class="col-6" >
        
        <div style="text-align: center;"><label >Lower </label></div>
        <div class="form-check" >
          <label class="form-check-label">
            <input class="form-check-input" type="radio" style="margin-top:7px;" required="required" ng-model="formdata.MidlinesLower"  ng-checked="formdata.MidlinesLower=='Deviated'" name="MidlinesLower" id="MidlinesLower" value="Deviated" checked>
            <span style="font-size:small;" >Deviated</span>
          </label>
        </div>
        <div class="form-check" >
          <label class="form-check-label">
            <input class="form-check-input" type="radio" style="margin-top:7px;" required="required" ng-model="formdata.MidlinesLower"  ng-checked="formdata.MidlinesLower=='Normal'" name="MidlinesLower" id="MidlinesLower" value="Normal" checked>
            <span style="font-size:small;" >Normal</span>
          </label>
        </div>
        
        </div>
        </div>
        <div class="row" style="padding-left: 20px;" >Specify (mm)<input class="form-control form-check-input" value="{{formdata.MidlinesSpecify}}" required="required" ng-model="formdata.MidlinesSpecify" type="text" id="MidlinesSpecify" name="MidlinesSpecify" placeholder="mm"></div>
      </div>
    </div>
    
     
    
    
    
    </div>
     </div>
    </div>
   
    
     
    <br>
    <div>
    <div class="form-group row">
      <label  class="col-lg-6 col-form-label">Other Clinical Conditions :</label>
      
    </div>
    <div style="padding-left: 20px;">
    	
    <div class="form-group row" style="margin-top: -15px;">
      <label for="DentalStructures" class="col-lg-6 col-form-label">I.	H/o Trauma to Face/Jaws/Dental Structures:  </label>
      <div class="col-lg-6">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="DentalStructures"   ng-checked="formdata.DentalStructures=='Yes'"   required="required" ng-model="formdata.DentalStructures" id="DentalStructures" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="DentalStructures" required="required" ng-model="formdata.DentalStructures" ng-checked="formdata.DentalStructures=='No'"  id="DentalStructures" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
  
    <div class="form-group row" style="margin-top: -15px;">
      <label for="Gingival" class="col-lg-6 col-form-label">II.	Gingival status</label>
      <div class="col-lg-6">
        <div class="form-check">
          
          
          <label class="form-check-label">
            <input class="form-check-input"  type="radio" name="Gingival" required="required" ng-model="formdata.Gingival" ng-checked="formdata.Gingival=='Excellent'"  id="Gingival" value="Excellent" >
            Excellent &nbsp &nbsp &nbsp   
          </label>
        
        <label class="form-check-label">
            <input class="form-check-input"  type="radio" name="Gingival" required="required" ng-model="formdata.Gingival" ng-checked="formdata.Gingival=='Good'" id="Gingival" value="Good" >
            Good &nbsp &nbsp &nbsp   
          </label>
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="Gingival" required="required" ng-model="formdata.Gingival" ng-checked="formdata.Gingival=='Bad'" id="Gingival" value="Bad" >
            Bad
          </label>
        </div>

      </div>
    </div>
  
    <div class="form-group row" style="margin-top: -15px;">
      <label for="DentalTreatment" class="col-lg-6 col-form-label">III. H/o Dental Treatment</label>
      <div class="col-lg-6">
        <div class="form-check">
          
            <input class="form-control form-check-input" type="text" name="DentalTreatment" value="{{formdata.DentalTreatment}}" required="required" ng-model="formdata.DentalTreatment" id="DentalTreatment" placeholder="Dental Treatment">
         
        </div>

      </div>
    </div>
  	
  	<div class="form-group row" style="margin-top: -15px;">
      <label for="SensitivityofTeeth" class="col-lg-6 col-form-label">IV.	Sensitivity of Teeth:</label>
      <div class="col-lg-6">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="SensitivityofTeeth" required="required" ng-model="formdata.SensitivityofTeeth" ng-checked="formdata.SensitivityofTeeth=='Yes'" id="SensitivityofTeeth" value="Yes" checked>
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="SensitivityofTeeth" required="required" ng-model="formdata.SensitivityofTeeth" ng-checked="formdata.SensitivityofTeeth=='No'" id="SensitivityofTeeth" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
  
  	<div class="form-group row" style="margin-top: -15px;">
      <label for="Anyothercondition" class="col-lg-6 col-form-label">Any other condition:</label>
      <div class="col-lg-6">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="Anyotherconditionradio" required="required" ng-model="formdata.Anyotherconditionradio" ng-checked="formdata.Anyotherconditionradio=='Yes'" id="Anyothercondition" value="Yes" >
            Yes &nbsp &nbsp &nbsp   
          </label>
        
        
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="Anyotherconditionradio" required="required" ng-model="formdata.Anyotherconditionradio" ng-checked="formdata.Anyotherconditionradio=='No'" id="Anyothercondition" value="No" >
            No
          </label>
        </div>

      </div>
    </div>
  	
  	<div class="form-group row" style="margin-top: -15px;" ng-show="formdata.Anyotherconditionradio=='Yes'" >
      <label for="Anyothercondition" class="col-lg-6 col-form-label">(Specify if yes)</label>
      <div class="col-lg-6">
        <div class="form-check">
          
            <input class=" form-control form-check-input" type="text"  value="{{formdata.Anyothercondition}}" name="Anyothercondition" ng-required="formdata.Anyotherconditionradio=='Yes'" ng-model="formdata.Anyothercondition" id="Anyothercondition" placeholder="Any other condition" >
             
          
        
          
        </div>

      </div>
    </div>
  
    
    </div>
    
    </div>
   
    <div style="margin-bottom: -20px;"><label><b>SUGGESTED TREATMENT INSTRUCTIONS</b> </label></div>
	<hr style="" >
	
   	<div style="margin-top: -10px;" id="Treatment">
   	
   	<div class="form-group ">
      <label for="Treat" class="col-7 col-form-label" >a) Treat </label>
      <div class="col-12" style=" margin-left: 10%;" >
      	
        <div class="form-check row"  >
          <label class="form-check-label col-4 col-lg-3 ">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Treat" ng-checked="formdata.Treat=='BothArches'" name="Treat" id="Treat" value="BothArches" checked>
            Both Arches    
          </label>
        
       
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Treat" ng-checked="formdata.Treat=='UpperArch'" name="Treat" id="Treat" value="UpperArch" >
            Upper Arch  
          </label>
        
        
          <label class="form-check-label col-3 ">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.Treat" ng-checked="formdata.Treat=='LowerArch'" name="Treat" id="Treat" value="LowerArch" >
            Lower Arch
          </label>
        </div>

      </div>
    </div>
    
    <div class="form-group " style="margin-top: -10px;" >
      <label for="CorrectCrowdingby" class="col-7 col-form-label" >b)	Correct Crowding by</label>
      <div class="col-12" style="margin-left: 10%;">
      
        <div class="form-check row" >
          <label class="form-check-label col-4">
            <input class="form-check-input" type="checkbox"  ng-model="formdata.CorrectCrowdingby.Expansion" ng-checked="formdata.CorrectCrowdingby.Expansion==true"   value="Expansion" >
            Expansion    
          </label>
           <label ng-if="formdata.CorrectCrowdingby.Expansion==true" class="form-check-label col-4">
            <input class="form-check-input" type="checkbox" ng-click="$parent.requirevariable= !$parent.requirevariable"  ng-model="$parent.formdata.CorrectCrowdingbyonlyifneeded.Expansiononlyifneeded" ng-checked="$parent.formdata.CorrectCrowdingbyonlyifneeded.Expansiononlyifneeded==true"  value="Expansion" >
            only if needed    
          </label>
        
        </div>
         <div class="form-check row" ng-init="requirevariable=false">
          <label class="form-check-label col-4">
            <input class="form-check-input" type="checkbox" ng-model="formdata.CorrectCrowdingby.Proclination" ng-checked="formdata.CorrectCrowdingby.Proclination==true"   value="Proclination" >
            Proclination    
          </label>
           <label ng-if="formdata.CorrectCrowdingby.Proclination==true" class="form-check-label col-4">
            <input class="form-check-input" type="checkbox" ng-click="$parent.requirevariable= !$parent.requirevariable" ng-model="$parent.formdata.CorrectCrowdingbyonlyifneeded.Proclinationonlyifneeded" ng-checked="$parent.formdata.CorrectCrowdingbyonlyifneeded.Proclinationonlyifneeded==true"  value="Proclination" >
            only if needed    
          </label>
        
        </div>
         <div class="form-check row" ng-init="requirevariable=false">
          <label class="form-check-label col-4">
            <input class="form-check-input" type="checkbox"  ng-model="formdata.CorrectCrowdingby.IPR" ng-checked="formdata.CorrectCrowdingby.IPR==true"   value="IPR" >
            IPR    
          </label>
           <label ng-if="formdata.CorrectCrowdingby.IPR==true" class="form-check-label col-4">
            <input class="form-check-input" type="checkbox" ng-click="$parent.requirevariable= !$parent.requirevariable" ng-model="$parent.formdata.CorrectCrowdingbyonlyifneeded.IPRonlyifneeded" ng-checked="$parent.formdata.CorrectCrowdingbyonlyifneeded.IPRonlyifneeded==true"  value="IPR" >
            only if needed    
          </label>
        
        </div> 
           <div class="form-check row" ng-init="requirevariable=false">
          <label class="form-check-label col-4">
            <input class="form-check-input" type="checkbox"  ng-model="formdata.CorrectCrowdingby.Extraction" ng-checked="formdata.CorrectCrowdingby.Extraction==true"   value="Extraction" >
            Extraction (Specify)    
          </label>
           <label ng-if="formdata.CorrectCrowdingby.Extraction==true" class="form-check-label col-4">
            <input class="form-check-input" type="checkbox" ng-click="$parent.requirevariable= !$parent.requirevariable"  ng-model="$parent.formdata.CorrectCrowdingbyonlyifneeded.Extractiononlyifneeded" ng-checked="$parent.formdata.CorrectCrowdingbyonlyifneeded.Extractiononlyifneeded==true"  value="Extraction" >
            only if needed    
          </label>
        
        </div>
		<input class="form-control col-8" ng-show="formdata.CorrectCrowdingby.Extraction==true" type="text" value="{{formdata.ExtractionSpecify}}" ng-model="formdata.ExtractionSpecify" id="ExtractionSpecify" name="ExtractionSpecify">
      </div>
    </div>
    
   	<div class="form-group " style="margin-top: -10px;">
      <label for="CorrectSpacing" class="col-7 col-form-label">c)	Correct Spacing	</label>
      <div class="col-12" style="margin-left: 10%">
      	
        <div class="form-check row"   >
          <label class="form-check-label col-lg-3 col-5 ">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.CorrectSpacing" ng-checked="formdata.CorrectSpacing=='CloseAllSpaces'"  name="CorrectSpacing" id="CorrectSpacing" value="CloseAllSpaces" >
            Close all Spaces.    
          </label>
       
          <label class="form-check-label col-5">
            <input class="form-check-input" type="radio" required="required" ng-model="formdata.CorrectSpacing" ng-checked="formdata.CorrectSpacing=='RedistributeSpaces'" name="CorrectSpacing" id="CorrectSpacing" value="RedistributeSpaces" >
            Redistribute Spaces.  
          </label>
        </div> 
        

      </div>
    </div>
    
    <div class="form-group "style="margin-top: -10px;">
      <label for="CorrectRotation" class="col-7 col-form-label" >d)	Correct Rotation </label>
      <div class="col-12" style="margin-left: 10%">
      	
        <div class="form-check row" >
          <label class="form-check-label col-3">
            <input class="form-check-input" type="checkbox"  ng-model="formdata.CorrectRotation.Anterior" ng-checked="formdata.CorrectRotation.Anterior==true" name="CorrectRotation" id="CorrectRotation" value="Anterior" >
            Anterior.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="checkbox"  ng-model="formdata.CorrectRotation.Posterior"  ng-checked="formdata.CorrectRotation.Posterior==true" name="CorrectRotation" id="CorrectRotation" value="Posterior" >
            Posterior.  
          </label>
        </div> 
        

      </div>
    </div>
    
    <div class="form-group "style="margin-top: -10px;">
      <label for="ArchFormCorrection" class="col-7 col-form-label" >e) Arch Form</label>
      <div class="col-12" style="margin-left: 10%;">
      	
        <div class="form-check row ">
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.ArchFormCorrection"  ng-checked="formdata.ArchFormCorrection=='Maintain'" name="ArchFormCorrection" id="ArchFormCorrection" value="Maintain" checked>
            Maintain.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.ArchFormCorrection" ng-checked="formdata.ArchFormCorrection=='Improve'" name="ArchFormCorrection" id="ArchFormCorrection" value="Improve" >
            Improve.  
          </label>
        </div> 
        

      </div>
    </div>
    
       	
   	<div class="form-group "style="margin-top: -10px;">
      <label for="OverJetCorrection" class="col-7 col-form-label" >f) Overjet</label>
      <div class="col-12"style="margin-left: 10%" >
      	
        <div class="form-check row">
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.OverJetCorrection" ng-checked="formdata.OverJetCorrection=='Maintain'"  name="OverJetCorrection" id="OverJetCorrection" value="Maintain" checked>
            Maintain.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.OverJetCorrection" ng-checked="formdata.OverJetCorrection=='Correct'"  name="OverJetCorrection" id="OverJetCorrection" value="Correct" >
            Correct.  
          </label>
        </div> 
        

      </div>
    </div>
    
    
    <div class="form-group "style="margin-top: -10px;">
      <label for="OverbiteCorrection" class="col-7 col-form-label" >g) Overbite</label>
      <div class="col-12" style="margin-left: 10%;">
      	
        <div class="form-check row">
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.OverbiteCorrection"  ng-checked="formdata.OverbiteCorrection=='Maintain'" name="OverbiteCorrection" id="OverbiteCorrection" value="Maintain" >
            Maintain.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.OverbiteCorrection" ng-checked="formdata.OverbiteCorrection=='Correct'" name="OverbiteCorrection" id="OverbiteCorrection" value="Correct" >
            Correct.  
          </label>
        </div> 
        

      </div>
    </div>
    
   	
   	 
    <div class="form-group "style="margin-top: -10px;">
      <label for="PosteriorCrossBiteCorrection" class="col-7 col-form-label" >h) Posterior Cross Bite</label>
      <div class="col-12" style="margin-left: 10%">
      	
        <div class="form-check row">
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.PosteriorCrossBiteCorrection" ng-checked="formdata.PosteriorCrossBiteCorrection=='Maintain'" name="PosteriorCrossBiteCorrection" id="PosteriorCrossBiteCorrection" value="Maintain" checked>
            Maintain.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.PosteriorCrossBiteCorrection" ng-checked="formdata.PosteriorCrossBiteCorrection=='Correct'" name="PosteriorCrossBiteCorrection" id="PosteriorCrossBiteCorrection" value="Correct" >
            Correct.  
          </label>
        </div> 
        

      </div>
    </div>
    
   	
   	 <div class="form-group "style="margin-top: -10px;">
      <label for="CanineRelationCorrection" class="col-7 col-form-label" >i) Canine Relation</label>
      <div class="col-12" style="margin-left: 10%">
      	
        <div class="form-check row">
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.CanineRelationCorrection" ng-checked="formdata.CanineRelationCorrection=='Maintain'" name="CanineRelationCorrection" id="CanineRelationCorrection" value="Maintain" checked>
            Maintain.    
          </label>
       
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.CanineRelationCorrection" ng-checked="formdata.CanineRelationCorrection=='Improve'" name="CanineRelationCorrection" id="CanineRelationCorrection" value="Improve" >
            Improve.  
          </label>
        </div> 
        

      </div>
    </div>
    
    
     <div class="form-group "style="margin-top: -10px;">
      <label for="MolarRelationCorrection" class="col-7 col-form-label">i) Molar Relation</label>
      <div class="col-12"  style="margin-left: 10%">
      	
        <div class="form-check row">
          <label class="form-check-label col-3 ">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.MolarRelationCorrection" ng-checked="formdata.MolarRelationCorrection=='Maintain'" name="MolarRelationCorrection" id="MolarRelationCorrection" value="Maintain" >
            Maintain.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.MolarRelationCorrection"  ng-checked="formdata.MolarRelationCorrection=='Improve'" name="MolarRelationCorrection" id="MolarRelationCorrection" value="Improve" >
            Improve.  
          </label>
        </div> 
        

      </div>
    </div>
    
    
    <div class="form-group "style="margin-top: -10px;">
      <label for="IncisorRelationCorrection" class="col-7 col-form-label" >h) Incisor Relation</label>
      <div class="col-12" style="margin-left: 10%">
      	
        <div class="form-check row">
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.IncisorRelationCorrection" ng-checked="formdata.IncisorRelationCorrection=='Maintain'" name="IncisorRelationCorrection" id="IncisorRelationCorrection" value="Maintain" >
            Maintain.    
          </label>
        
          <label class="form-check-label col-3">
            <input class="form-check-input" type="radio"  required="required" ng-model="formdata.IncisorRelationCorrection" ng-checked="formdata.IncisorRelationCorrection=='Improve'" name="IncisorRelationCorrection" id="IncisorRelationCorrection" value="Improve" >
            Improve.  
          </label>
        </div> 
        

      </div>
    </div>
    
      <div class="form-group row container" style="margin-top: -10px;">
      <label  for="SpecialInstruction"  class="col-lg-5 col-form-label">Special Instruction</label>
      <div class="col-lg-7 form-check roe">
        <input type="text" class="form-control form-check-input"  value="{{formdata.SpecialInstruction}}" required="required" ng-model="formdata.SpecialInstruction" name="SpecialInstruction" id="SpecialInstruction" placeholder="Special Instruction">
      </div>
    </div>
  
   	
   	</div>
    </div>
  </div>
    <div class="row"  style=" margin-left:0px; margin-right:0px; background-color: #c0f9f9;" ><div class="col-lg-2" ></div>
    <div class="col-lg-4" style="text-align: center;   padding-bottom: 20px; display: {{showsubmit}}; "><button class="btn btn-success" type="button" ng-click="saveasdraft()">Save</button></div>
   	<div class="col-lg-4" style="text-align: center;  background-color: #c0f9f9; padding-bottom: 20px; display: {{showsubmit}}; "  ><button class="btn btn-primary" type="submit" >Submit</button></div>
   	</div>
    
   
    
	</fieldset>
	<div style="text-align: center;  background-color: #c0f9f9; padding-bottom: 20px; display: {{showurl}}; " > <a id="fileurl" ng-href="{{uploadfileurl}}"  > click here to see uploaded file</a> </div>
	</form>
	
</div>
</div>
</div>
</div>
<div id="loadingmodal" class="modal" >
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4caf50;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<center> <div style="margin-top: 40vh" class="loader"></div></center>
</div>