.slide {
    position: absolute;
    left: 0;
    
    width: 100%;
  
}
.slide.ng-enter,
.slide.ng-leave {
	
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
	position : absolute;
	
    left: 100%;
}
.slide.ng-enter-active {
	position : absolute;
	
    left: 0;
}
.slide.ng-leave {

    left: 0;
}
.slide.ng-leave-active {
	
    left: -100%;
}